@import "../../index.scss";

$break-mobile-1: 425px;

.poke-type-cont-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .poke-type-cont-col {
    padding: 0.5rem;

    &:first-child {
      flex: 2;
    }
    &:last-child {
      flex: 3;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
    }

    .poke-type-img-cont {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      overflow: hidden;
      border: 1px solid getThemeColor(pdefault);
      border-radius: 100%;

      .poke-type-img {
        height: 100%;
        width: 100%;
      }
    }
  }
  > .poke-image-col-dec {
    position: relative;
    &::after,
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
    }
    &::before {
      left: 0;
      border-radius: 15rem 0 0 15rem;
      border-left: 0.5rem solid getRGBA($primary, 0.2);
    }
    &::after {
      right: 0;
      border-radius: 0 15rem 15rem 0;
      border-right: 0.5rem solid getRGBA($primary, 0.2);
    }
  }
  > .poke-type-basic-info {
    padding-left: 0.75rem 0.125rem;
    @media (min-width: $break-mobile-1) {
      padding: 0.75rem 2rem;
    }
  }
}

.poke-type-details-pair {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  background-color: getRGB($primary);
  font-size: 1.25rem;
  border-radius: 10rem;
  border-bottom: 4px solid getRGB($primary);
  border-top: 4px solid getRGB($primary);
  margin: 0.5rem 0;

  > p {
    padding: 0.75rem 0.25rem 0.75rem 1.25rem;

    &:first-child {
      background-color: getRGB($secondary);
      color: getThemeColorA(pdefault, 0.75);
      min-width: 11rem;
      width: 70%;
      border-radius: 10rem;
    }
    &:last-child {
      min-width: 7rem;
      width: 30%;
      color: getRGB($secondary);
    }
  }
}

.poke-type-info-holder {
  padding: 1rem 0.125rem;

  > h2 {
    color: getRGBA($primary, 0.7);
    position: relative;
    padding: 0.75rem 0.125rem;
    text-align: left;
    &::after,
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      height: 4px;
      background-color: getRGBA($primary, 0.25);
    }
    &::after {
      right: 0;
      top: 0;
      width: 50%;
    }
    &::before {
      left: 0;
      bottom: 0;
      width: 70%;
    }
  }
  > h3 {
    text-align: right;
    padding: 2rem 0.5rem 1rem 0.125rem;
    color: getRGBA($primary, 0.65);
  }
}

.font-um {
  font-family: $font-ubuntu-mono;
  font-size: 1.5rem;
  font-weight: 700;
}

.poke-type-dm-rel-pair {
  box-shadow: 0px 0px 5px -2px getRGBA($primary, 0.5);
  border-radius: 1rem;

  .poke-type-info-dm-rel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.25rem;

    > .poke-type-info-dm-col {
      padding: 0.75rem 0.5rem;
      color: getRGBA($primary, 0.8);

      &:first-child {
        min-width: 7rem;
      }
      &:last-child {
        flex-grow: 1;
        order: -1;
      }
      > h2 span {
        font-size: 2.5rem;
      }
    }
    &:nth-child(2) {
      border-top: 2px solid getRGBA($primary, 0.1);
      border-bottom: 2px solid getRGBA($primary, 0.1);
    }
    @media (max-width: $break-mobile-1) {
      flex-wrap: wrap-reverse;
    }
  }
}

.poke-small-type-chips {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10rem;
  margin: 0.25rem;
  > .chip-icon {
    height: 3.5rem;
    width: 3.5rem;
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid getRGB($secondary);
    > .icon {
      height: 100%;
      width: 100%;
    }
  }
  > .chip-name {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem 0.5rem 0.75rem;
    color: getRGB($secondary);
  }
}

.chip-none {
  display: inline-block;
  background-color: getRGB($secondary);
  color: getRGBA($alternate, 0.5);
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  border: 2px solid getRGBA($alternate, 0.25);
  margin: 0.25rem;
}

.poke-type-icon-other {
  padding: 1.5rem 0;
}

.poke-type-icon-chip {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10rem;
  margin: 0.5rem;
  > .chip-icon {
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid getRGBA($primary, 0.9);
    z-index: 5;

    > .icon {
      height: 100%;
      width: 100%;
    }
  }
  > .chip-name {
    font-size: 1.25rem;
    padding: 0.5rem 2rem 0.5rem 1.25rem;
    color: getRGB($alternate);
    border-radius: 0 10rem 10rem 0;
    background-color: getRGBA($alternate, 0.125);
    border-left: 0;
    position: relative;
    left: -0.5rem;
  }
}
