@import "../../index.scss";

.evolution-card {
  min-width: 280px;
  width: 100%;
  border-radius: 2.5rem;
  overflow: hidden;
  margin: 0.5rem 0;
  box-shadow: 0px 0px 4px getRGBA($alternate, 0.5);
  background-color: getRGBA($primary, 0.25);
  position: relative;

  .evolve-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    .evolve-box-child {
      padding: 1rem;
      .evolve-box-content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    > .f-1 {
      flex-basis: 100%;
    }
    > .f-2:first-child {
      flex-basis: 40%;
    }
    > .f-2:last-child {
      flex-basis: 60%;
      border: 2px solid getRGB($primary);
      border-radius: 0 2.5rem 2.5rem 0;
      background-color: getRGBA($primary, 0.3);
    }
    > .d-2 {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    > .f-3:first-child {
      flex-basis: 30%;
    }
    > .f-3:last-child {
      flex-basis: 70%;
      border: 2px solid getRGB($primary);
      border-radius: 0 2.5rem 2.5rem 0;
      background-color: getRGBA($primary, 0.3);
      .f-2:first-child {
        flex-basis: 45%;
      }
      .f-2:last-child {
        flex-basis: 55%;
      }
    }
    .f-3.c-2 {
      .evolve-box:first-child .f-2:last-child {
        border-radius: 0;
        border-top-right-radius: 2.5rem;
      }
      .evolve-box:last-child .f-2:last-child {
        border-radius: 0;
        border-bottom-right-radius: 2.5rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .card-depth-3 {
    > .evolve-box {
      flex-direction: column;
      > .f-3:last-child {
        width: 100%;
        border-radius: 0 0 2.5rem 2.5rem;
         .f-2:last-child {
          border-radius: 0 0 2.5rem 0;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .card-depth-2 {
    > .evolve-box {
      flex-direction: column;
      > .f-2:last-child {
        width: 100%;
        border-radius: 0 0 2.5rem 2.5rem;
      }
    }
  }
  .card-depth-3 {
    .f-3:last-child > .evolve-box {
      flex-direction: column;
      .f-2:last-child {
        width: 100%;
        border-radius: 0 0 2.5rem 2.5rem;
      }
    }
  }
}

.evolution-id {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  font-family: $font-ubuntu-mono;
  background-color: getThemeColor(pdefault);
  color: getRGBA($secondary, 0.75);
  border-bottom-right-radius: 1.5rem;

  span {
    font-size: 1.25rem;
  }
}
